@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic,cyrillic-ext');
/* CSS Document */

body, html, #mainBody {
		width: 100%;
		max-width: 100%;
		height: 100%;
		background: #222;
		padding: 0;
		margin: 0;
		border: 0;
	}
	.infoLogo {
	    position: relative;
	    max-width: 70%;
	    max-height: 50vw;
	    top: 3vw;
	    left: 15%;
	}
	.infoTable {
	    display: inline-block;
	    margin: 0;
	    border: 0;
	    padding: 0;
	    width: 50%;
	    border-collapse: collapse;
	}
	.infoTr {
	    margin: 0;
	    border: 0;
	    padding: 0;
	    width: 100%;
	}
	.infoTd {
	    margin: 0;
	    border: 0;
	    padding: 0;
	    min-width: 25%;
	    min-height: 16.67vw;
	    max-width: 25%;
	    max-height: 16.67vw;
	    width: 25%;
	    height: 16.67vw;
	}
	.infoImg {
	    position: relative;
	    min-width: 100%;
	    min-height: 16.67vw;
	    max-width: 100%;
	    max-height: 16.67vw;
	}
	.infoDiv {
	    position: absolute;
	    top: inherit;
	    left: inherit;
	    width: 25%;
	    height: 16.67vw;
		background-color: rgba(0,0,0, .5);
		z-index: 10;
	    border: 1px solid gold;
	}
	.infoDiv:hover {
		background-color: rgba(0,0,0, 0);
		cursor: pointer;
	}
	.infoTheme {
	    position: absolute;
	    left: inherit;
	    width: 100%;
	    height: 5vw;
	    margin: 11.67vw 0 0 0;
		padding: 1.2vw 0;
		display: block;
		text-align: center;
		font-family: 'Roboto', Tahoma, "sans-serif";
		font-size: 28px;
		font-weight: 200;
		color: gold;
		background-color: rgb(0,0,0);
	}
	.infoAside {
	    display: inline-block;
		width: 50%;
		min-height: 66.67vw;
		max-height: 66.67vw;
		padding: 0;
		margin: 0;
		vertical-align: top;
		overflow: auto;
	}
	.infoTitle {
		text-align: center;
		color: gold;
		font-size: 28px;
	}
	.infoP {
		padding: 20px;
		color: white;
		font-size: 20px;
	}
	.basketImg {
		width: 100%;
		height: 74px;
		padding: 17px;
		margin: 0;
		border: 0;
		display: block;
	}